@use 'styles/abstracts/variables' as vars;
@use 'styles/abstracts/colors' as colors;
@use 'styles/abstracts/mixins' as mixins;
@use 'styles/abstracts/media' as media;

.category {
  display: flex;
  flex-direction: column;
  gap: vars.$space-lg;
  width: 100%;
  padding: vars.$space-lg;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: vars.$space-md;
  }

  &__register {
    width: 20%;
  }
}