@use 'styles/abstracts/variables' as vars;
@use 'styles/abstracts/colors' as colors;
@use 'styles/abstracts/mixins' as mixins;

.table-container {
  width: 100%;
  overflow-x: auto;

  table.responsive-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    min-width: 600px;
    border: 1px solid colors.$border-default;
    border-radius: vars.$radius-md;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

    th,
    td {
      padding: vars.$space-sm vars.$space-md;
      text-align: left;
      vertical-align: middle;
    }

    th {
      background-color: colors.$bg-surface;
      font-weight: 600;
      position: sticky;
      top: 0;
      z-index: 2;
      border-bottom: 1px solid colors.$border-default;
    }

    td {
      background-color: white;
      border-bottom: 1px solid colors.$border-default;
      padding: 1px 16px;
    }

    th.sortable {
      cursor: pointer;
      user-select: none;
    }

    .actions-cell {
      position: relative;
    }

    .action-trigger {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1.2em;
      padding: 0;
    }

    .actions-menu {
      position: absolute;
      z-index: 10;
      min-width: 120px;
      top: -20px;
    }
    .action-list {
      //padding: vars.$space-sm;
      display: flex;
      flex-direction: column;
      gap: vars.$space-sm;
    }

    .action-list .action-item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: vars.$space-xs;
      padding: 4px 10px;
      border-radius: vars.$radius-sm;
      cursor: pointer;
      transition: background-color 0.2s;
      border-bottom: 1px solid colors.$border-default;
      margin: 0 -14px;
    }

    .action-list .action-item:nth-last-child(1) {
      border-bottom: none;
    }

    .selector-cell .select-controls {
      display: flex;
      flex-direction: column;
      gap: vars.$space-xs;
    }

    .checkbox-cell {
      width: 100px;
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  gap: vars.$space-sm;
  justify-content: center;
  margin-top: vars.$space-md;
}
