@use 'styles/abstracts/variables' as vars;
@use 'styles/abstracts/colors' as colors;
@use 'styles/abstracts/mixins' as mixins;

.product {
  padding: vars.$space-lg;

  &__header {
    @include mixins.flex-center;
    justify-content: space-between;
    margin-bottom: vars.$space-xl;
  }
}