@use 'styles/abstracts/variables' as vars;
@use 'styles/abstracts/mixins' as mixins;

.page-container {
  @include mixins.flex-direction(column);
  height: 100%;
  width: 100%;
  padding: vars.$space-lg;
  box-sizing: border-box;
}
