<section class="form">
  <h2>Novo produto</h2>
  @for (item of formulary(); track item) {
    @if (item.type === 'select') {
      <app-form-select
        [placeholder]="item.placeholder"
        [label]="item.label"
        [options]="item.options || []"
        [field]="item.field"
        [dataTestId]="item.name"
      />
    } @else if (item.type === 'switch') {
      <app-form-switch
        [label]="item.label"
        [field]="item.field"
        [dataTestId]="item.name"
      />
    } @else {
      <app-form-input
        [placeholder]="item.placeholder"
        [label]="item.label"
        [type]="item.type || 'text'"
        [field]="item.field"
        [dataTestId]="item.name"
      />
    }
  }
  <div class="form__actions">
    <app-button
      [disabled]="disable()"
      (clicked)="execute()"
      name="Cadastrar"
      type="primary"
      dataTestId="btn-save-product"
    />
  </div>
</section>
