@use './styles/abstracts/_colors';
@use './styles/abstracts/_variables';
@use './styles/abstracts/_breakpoints';

@use './styles/base/_globals';
@use './styles/base/_auth';
@use './styles/base/_typography';
@use './styles/base/_badges';

.title-group {
    h1 {
        font-size: 2rem;
        font-weight: 800;
        color: #1e293b;
        margin: 0;
        letter-spacing: -0.025em;
    }

    p {
        color: #64748b;
        margin: 0.25rem 0 0;
        text-transform: capitalize;
    }
}